PORT=8000
MONGODB_URI=mongodb+srv://'your-password':Ombichare2006@ombichare26.urrkss8.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=uMVGeGOb242dg3E4LUSCiLPI1Tu8GI7W31582Y716eqhobQaUdPqB98yCxVAuMPO0Lv7ZAAG1p90dpRQTkMAFuGDyQh9owWHCg2G
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=ymdEBZKbWRtYGqDHIkJ9CawKQmhmJe8UuZ4Uh3wPL21Oks2k3LotVXcsrp0MvlITip1
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=''
CLOUDINARY_API_KEY=''
CLOUDINARY_API_SECRET=''